doctype html
head
  meta(charset='utf-8')
  title Error
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='shortcut icon' href='/assets/media/logos/favicon.ico')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
  link(href='/assets/plugins/global/plugins.bundle.css' rel='stylesheet' type='text/css')
  link(href='/assets/css/style.bundle.css' rel='stylesheet' type='text/css')
body
    = statusCode
    br
    = msg
    script(src='/assets/plugins/global/plugins.bundle.js')
    script(src='/assets/js/scripts.bundle.js')

