extends base

block content
  append stylesheets 
    link(rel="stylesheet" href="/assets/components/intl-tel-input/build/css/intlTelInput.css")
  .row 
    .col-12.py-5
      #container_loading.mb-3
        .d-flex.justify-content-center.align-items-center.text-primary
          .spinner-border(role='status')
            span.visually-hidden Loading...
          h5.ms-2.mb-0 Loading...
      .row.filters.justify-content-start.mb-3.d-none
        .col-sm-3.d-flex.align-items-center
          label.me-2(for="filter_search") Search: 
          input#filter_search.form-control(type="text")
        .col-auto.ms-auto 
          button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#createPermissionModal") New Permission
        //- .col-sm-3.d-flex.align-items-center.ms-auto
        //-   label.me-2 Type: 
        //-   select.form-select(name="outType" data-placeholder='Select option' data-allow-clear='true')
        //-     option
        //-     option(value="EMAIL") Email
        //-     option(value="SMS") Sms
        //- .col-sm-3.d-flex.align-items-center
        //-   label.me-2 Status: 
        //-   select.form-select(name="documentType" data-placeholder='Select option' data-allow-clear='true')
        //-     option
        //-     option(value="CONFIRMATION") Confirmation
        //-     option(value="TICKET") Ticket
        //-     option(value="OTHER") Other
      .table-responsive-md 
        table#table_permissions.table
          //- thead 
          //-   tr 
          //-     th ID 
          //-     th Type 
          //-     th Status
          //-     th Document Type 
          //-     th Process Time 
          //-     th &nbsp;
  #updatePermissionModal.modal.fade(tabindex='-1' aria-labelledby='updatePermissionModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable.modal-xl.modal-fullscreen-lg-down
      .modal-content
        form#updatePermissionForm(action="#") 
          .modal-header
            h5#updatePermissionModalLabel.modal-title
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body.px-4
            .list-info
              input#permissionId(type='hidden')
              //- dl.row.list-item
              //-   dt.col-sm-5.list-info-label ID
              //-   dd.col-sm-7.list-info-item(data-permission-field='Id')
              dl.row.list-item
                dt.col-sm-5.list-info-label Permission Value
                dd.col-sm-7.list-info-item(data-permission-field='PermissionValue_c') 
              dl.row.list-item
                dt.col-sm-5.list-info-label Permission Channel
                dd.col-sm-7.list-info-item(data-permission-field='PermissionChannel_c') 
              dl.row.list-item
                dt.col-sm-5.list-info-label Permission Date
                dd.col-sm-7.list-info-item(data-permission-field='PermissionDate_c') 
              dl.row.list-item
                dt.col-sm-5.list-info-label Email
                dd.col-sm-7.list-info-item(data-permission-field='Email_c' data-permission-update-field="true") 
                  .form-check.form-switch
                    input(data-permission-type="Email_c" class="form-check-input" type="checkbox")
              dl.row.list-item
                dt.col-sm-5.list-info-label SMS
                dd.col-sm-7.list-info-item(data-permission-field='Sms_c' data-permission-update-field="true") 
                  .form-check.form-switch
                    input(data-permission-type="Sms_c" class="form-check-input" type="checkbox")
              dl.row.list-item
                dt.col-sm-5.list-info-label Call
                dd.col-sm-7.list-info-item(data-permission-field='Call_c' data-permission-update-field="true")
                  .form-check.form-switch
                    input(data-permission-type="Call_c" class="form-check-input" type="checkbox")
          .modal-footer.d-flex.justify-content-center
            button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Save
  #createPermissionModal.modal.fade(tabindex='-1' aria-labelledby='createPermissionModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        form#createPermissionForm(action='#')
          .modal-header
            h5#createPermissionModalLabel.modal-title Create new permission
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body.px-4
            .mb-3 
              label(for="permissionType") Permission Type 
              select#permissionType.form-select(data-placeholder='Select option')
                option Select option
                option(value="Email") Email
                option(value="Phone") Phone
            #createPerm_emailContainer.mb-3.d-none
              label(for="email") Email
              input#createPerm_email.form-control(type='email')
            #createPerm_phoneContainer.mb-3.d-none
              dl.row.list-item
                dt.col-sm-5.list-info-label Phone
                dd.col-sm-7.list-info-item
                  input#createPerm_phone.form-control(type='text')
              dl.row.list-item
                dt.col-sm-5.list-info-label SMS
                dd.col-sm-7.list-info-item(data-permission-field='Sms_c' data-permission-update-field="true") 
                  .form-check.form-switch
                    input(data-permission-type="Sms_c" class="form-check-input" type="checkbox")
              dl.row.list-item
                dt.col-sm-5.list-info-label Call
                dd.col-sm-7.list-info-item(data-permission-field='Call_c' data-permission-update-field="true")
                  .form-check.form-switch
                    input(data-permission-type="Call_c" class="form-check-input" type="checkbox")
          .modal-footer.d-flex.justify-content-center
            button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Save
append scripts
  script(src="/assets/components/intl-tel-input/build/js/intlTelInput.js")
  script(src="/assets/components/phoneparser/index.js")
  script(src="/assets/js/permissions.js")