* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: Poppins, sans-serif; */
    font-weight: 400;
}

/* Buttons */
.btn-circle {
    border-radius: 50%;
}


/* SMS */

#smsContent {
    white-space: pre-wrap;
}